.overall {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.label {
  font-weight: bold;
  display: flex;
  align-items: flex-start;
}
.label div {
  flex: 1;
  font-weight: normal;
  border-bottom: 1px dotted gray;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
.label div:focus {
  font-weight: normal;
  outline: transparent;
  border-bottom: 1px solid gray;
}

.rx {
  font-size: 50px;
}

.prescription,
.prescription table {
  width: 100%;
}

.prescription td {
  padding: 0 0 0 0;
  border: 1px solid gray;
}

.schedule {
  display: flex;
}
.schedule input {
  width: 40px;
  text-align: center;
}
.schedule > div {
  text-align: center;
  flex-grow: 1;
}

.maybe td,
.maybe input::placeholder,
.maybe > td > div[contentEditable='true']:empty:not(:focus):before {
  color: lightgrey;
}

.maybe .schedule input {
  border: 1px solid lightgray;
}

.maybe td {
  text-align: center;
  padding: 0 0 0 0;
  border: 1px dotted lightgray;
}

.tableInput {
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
}

div[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-ph);
  padding-left: 2px;
  color: grey;
}

@media print {
  .overall {
    padding-top: 75mm;
  }
  .label div,
  .prescription td,
  .tableInput,
  input {
    border: none !important;
    caret-color: transparent;
  }
  input {
    box-shadow: none !important;
    outline: none !important;
  }
  .maybe,
  .empty {
    display: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
